---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import HowItWorks from '../components/HowItWorks.astro';
import FeaturesSection from '../components/FeaturesSection.astro';

import SocialProof from '../components/SocialProof.astro';
import FAQ from '../components/FAQ.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <HeroSection />
    <SocialProof />
    <HowItWorks />
    <FeaturesSection />
    <FAQ />
    <CTASection />
  </main>
  <Footer />
</Layout>
