---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ResumeScanner } from '../components/app/ResumeScanner';
---

<Layout title="Get Recruiter Feedback | Resumescan">
  <Navbar />
  
  <main class="h-screen flex flex-col bg-canvas-soft overflow-hidden">
    <div class="flex-1 overflow-y-auto pt-[64px]">
      <ResumeScanner client:load />
    </div>
  </main>
</Layout>
